web/WEB-INF/wsdl/cscitemp161.cs.uno.edu_8080/CourseService/CourseService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://courseservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://courseservice.com/" name="CourseService">
<types>
<xsd:schema>
<xsd:import namespace="http://courseservice.com/" schemaLocation="http://cscitemp161.cs.uno.edu:8080/CourseService/CourseService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCourse">
<part name="parameters" element="tns:getCourse"/>
</message>
<message name="getCourseResponse">
<part name="parameters" element="tns:getCourseResponse"/>
</message>
<message name="NonexistentCourseException">
<part name="fault" element="tns:NonexistentCourseException"/>
</message>
<message name="getActiveCourses">
<part name="parameters" element="tns:getActiveCourses"/>
</message>
<message name="getActiveCoursesResponse">
<part name="parameters" element="tns:getActiveCoursesResponse"/>
</message>
<message name="getAllCourses">
<part name="parameters" element="tns:getAllCourses"/>
</message>
<message name="getAllCoursesResponse">
<part name="parameters" element="tns:getAllCoursesResponse"/>
</message>
<message name="getAllSectionsOfCourse">
<part name="parameters" element="tns:getAllSectionsOfCourse"/>
</message>
<message name="getAllSectionsOfCourseResponse">
<part name="parameters" element="tns:getAllSectionsOfCourseResponse"/>
</message>
<message name="getAllCurrentSectionsOfCourse">
<part name="parameters" element="tns:getAllCurrentSectionsOfCourse"/>
</message>
<message name="getAllCurrentSectionsOfCourseResponse">
<part name="parameters" element="tns:getAllCurrentSectionsOfCourseResponse"/>
</message>
<message name="getCourseSkillCodes">
<part name="parameters" element="tns:getCourseSkillCodes"/>
</message>
<message name="getCourseSkillCodesResponse">
<part name="parameters" element="tns:getCourseSkillCodesResponse"/>
</message>
<message name="getInactiveCourses">
<part name="parameters" element="tns:getInactiveCourses"/>
</message>
<message name="getInactiveCoursesResponse">
<part name="parameters" element="tns:getInactiveCoursesResponse"/>
</message>
<message name="getSection">
<part name="parameters" element="tns:getSection"/>
</message>
<message name="getSectionResponse">
<part name="parameters" element="tns:getSectionResponse"/>
</message>
<message name="NonexistentSectionException">
<part name="fault" element="tns:NonexistentSectionException"/>
</message>
<portType name="CourseService">
<operation name="getCourse">
<input wsam:Action="http://courseservice.com/CourseService/getCourseRequest" message="tns:getCourse"/>
<output wsam:Action="http://courseservice.com/CourseService/getCourseResponse" message="tns:getCourseResponse"/>
<fault message="tns:NonexistentCourseException" name="NonexistentCourseException" wsam:Action="http://courseservice.com/CourseService/getCourse/Fault/NonexistentCourseException"/>
</operation>
<operation name="getActiveCourses">
<input wsam:Action="http://courseservice.com/CourseService/getActiveCoursesRequest" message="tns:getActiveCourses"/>
<output wsam:Action="http://courseservice.com/CourseService/getActiveCoursesResponse" message="tns:getActiveCoursesResponse"/>
</operation>
<operation name="getAllCourses">
<input wsam:Action="http://courseservice.com/CourseService/getAllCoursesRequest" message="tns:getAllCourses"/>
<output wsam:Action="http://courseservice.com/CourseService/getAllCoursesResponse" message="tns:getAllCoursesResponse"/>
</operation>
<operation name="getAllSectionsOfCourse">
<input wsam:Action="http://courseservice.com/CourseService/getAllSectionsOfCourseRequest" message="tns:getAllSectionsOfCourse"/>
<output wsam:Action="http://courseservice.com/CourseService/getAllSectionsOfCourseResponse" message="tns:getAllSectionsOfCourseResponse"/>
</operation>
<operation name="getAllCurrentSectionsOfCourse">
<input wsam:Action="http://courseservice.com/CourseService/getAllCurrentSectionsOfCourseRequest" message="tns:getAllCurrentSectionsOfCourse"/>
<output wsam:Action="http://courseservice.com/CourseService/getAllCurrentSectionsOfCourseResponse" message="tns:getAllCurrentSectionsOfCourseResponse"/>
</operation>
<operation name="getCourseSkillCodes">
<input wsam:Action="http://courseservice.com/CourseService/getCourseSkillCodesRequest" message="tns:getCourseSkillCodes"/>
<output wsam:Action="http://courseservice.com/CourseService/getCourseSkillCodesResponse" message="tns:getCourseSkillCodesResponse"/>
</operation>
<operation name="getInactiveCourses">
<input wsam:Action="http://courseservice.com/CourseService/getInactiveCoursesRequest" message="tns:getInactiveCourses"/>
<output wsam:Action="http://courseservice.com/CourseService/getInactiveCoursesResponse" message="tns:getInactiveCoursesResponse"/>
</operation>
<operation name="getSection">
<input wsam:Action="http://courseservice.com/CourseService/getSectionRequest" message="tns:getSection"/>
<output wsam:Action="http://courseservice.com/CourseService/getSectionResponse" message="tns:getSectionResponse"/>
<fault message="tns:NonexistentSectionException" name="NonexistentSectionException" wsam:Action="http://courseservice.com/CourseService/getSection/Fault/NonexistentSectionException"/>
</operation>
</portType>
<binding name="CourseServicePortBinding" type="tns:CourseService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentCourseException">
<soap:fault name="NonexistentCourseException" use="literal"/>
</fault>
</operation>
<operation name="getActiveCourses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCourses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSectionsOfCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCurrentSectionsOfCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCourseSkillCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInactiveCourses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentSectionException">
<soap:fault name="NonexistentSectionException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CourseService">
<port name="CourseServicePort" binding="tns:CourseServicePortBinding">
<soap:address location="http://cscitemp161.cs.uno.edu:8080/CourseService/CourseService"/>
</port>
</service>
</definitions>