src/conf/xml-resources/web-service-references/CertificateService/wsdl/cscitemp161.cs.uno.edu_8080/CertificateService/CertificateService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://certificateservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://certificateservice.com/" name="CertificateService">
<types>
<xsd:schema>
<xsd:import namespace="http://certificateservice.com/" schemaLocation="http://cscitemp161.cs.uno.edu:8080/CertificateService/CertificateService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllCertificates">
<part name="parameters" element="tns:getAllCertificates"/>
</message>
<message name="getAllCertificatesResponse">
<part name="parameters" element="tns:getAllCertificatesResponse"/>
</message>
<message name="getExamsForCertificate">
<part name="parameters" element="tns:getExamsForCertificate"/>
</message>
<message name="getExamsForCertificateResponse">
<part name="parameters" element="tns:getExamsForCertificateResponse"/>
</message>
<message name="getAllUpcomingExamsForCertificate">
<part name="parameters" element="tns:getAllUpcomingExamsForCertificate"/>
</message>
<message name="getAllUpcomingExamsForCertificateResponse">
<part name="parameters" element="tns:getAllUpcomingExamsForCertificateResponse"/>
</message>
<message name="getExamType">
<part name="parameters" element="tns:getExamType"/>
</message>
<message name="getExamTypeResponse">
<part name="parameters" element="tns:getExamTypeResponse"/>
</message>
<message name="NonexistentExamTypeException">
<part name="fault" element="tns:NonexistentExamTypeException"/>
</message>
<message name="getExamTypeForCertificate">
<part name="parameters" element="tns:getExamTypeForCertificate"/>
</message>
<message name="getExamTypeForCertificateResponse">
<part name="parameters" element="tns:getExamTypeForCertificateResponse"/>
</message>
<message name="getAllExamTypes">
<part name="parameters" element="tns:getAllExamTypes"/>
</message>
<message name="getAllExamTypesResponse">
<part name="parameters" element="tns:getAllExamTypesResponse"/>
</message>
<message name="getCertificate">
<part name="parameters" element="tns:getCertificate"/>
</message>
<message name="getCertificateResponse">
<part name="parameters" element="tns:getCertificateResponse"/>
</message>
<message name="NonexistentCertificateException">
<part name="fault" element="tns:NonexistentCertificateException"/>
</message>
<portType name="CertificateService">
<operation name="getAllCertificates">
<input wsam:Action="http://certificateservice.com/CertificateService/getAllCertificatesRequest" message="tns:getAllCertificates"/>
<output wsam:Action="http://certificateservice.com/CertificateService/getAllCertificatesResponse" message="tns:getAllCertificatesResponse"/>
</operation>
<operation name="getExamsForCertificate">
<input wsam:Action="http://certificateservice.com/CertificateService/getExamsForCertificateRequest" message="tns:getExamsForCertificate"/>
<output wsam:Action="http://certificateservice.com/CertificateService/getExamsForCertificateResponse" message="tns:getExamsForCertificateResponse"/>
</operation>
<operation name="getAllUpcomingExamsForCertificate">
<input wsam:Action="http://certificateservice.com/CertificateService/getAllUpcomingExamsForCertificateRequest" message="tns:getAllUpcomingExamsForCertificate"/>
<output wsam:Action="http://certificateservice.com/CertificateService/getAllUpcomingExamsForCertificateResponse" message="tns:getAllUpcomingExamsForCertificateResponse"/>
</operation>
<operation name="getExamType">
<input wsam:Action="http://certificateservice.com/CertificateService/getExamTypeRequest" message="tns:getExamType"/>
<output wsam:Action="http://certificateservice.com/CertificateService/getExamTypeResponse" message="tns:getExamTypeResponse"/>
<fault message="tns:NonexistentExamTypeException" name="NonexistentExamTypeException" wsam:Action="http://certificateservice.com/CertificateService/getExamType/Fault/NonexistentExamTypeException"/>
</operation>
<operation name="getExamTypeForCertificate">
<input wsam:Action="http://certificateservice.com/CertificateService/getExamTypeForCertificateRequest" message="tns:getExamTypeForCertificate"/>
<output wsam:Action="http://certificateservice.com/CertificateService/getExamTypeForCertificateResponse" message="tns:getExamTypeForCertificateResponse"/>
</operation>
<operation name="getAllExamTypes">
<input wsam:Action="http://certificateservice.com/CertificateService/getAllExamTypesRequest" message="tns:getAllExamTypes"/>
<output wsam:Action="http://certificateservice.com/CertificateService/getAllExamTypesResponse" message="tns:getAllExamTypesResponse"/>
</operation>
<operation name="getCertificate">
<input wsam:Action="http://certificateservice.com/CertificateService/getCertificateRequest" message="tns:getCertificate"/>
<output wsam:Action="http://certificateservice.com/CertificateService/getCertificateResponse" message="tns:getCertificateResponse"/>
<fault message="tns:NonexistentCertificateException" name="NonexistentCertificateException" wsam:Action="http://certificateservice.com/CertificateService/getCertificate/Fault/NonexistentCertificateException"/>
</operation>
</portType>
<binding name="CertificateServicePortBinding" type="tns:CertificateService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllCertificates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExamsForCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUpcomingExamsForCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExamType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentExamTypeException">
<soap:fault name="NonexistentExamTypeException" use="literal"/>
</fault>
</operation>
<operation name="getExamTypeForCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllExamTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentCertificateException">
<soap:fault name="NonexistentCertificateException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CertificateService">
<port name="CertificateServicePort" binding="tns:CertificateServicePortBinding">
<soap:address location="http://cscitemp161.cs.uno.edu:8080/CertificateService/CertificateService"/>
</port>
</service>
</definitions>