web/WEB-INF/wsdl/cscitemp161.cs.uno.edu_8080/CertificateService/CertificateService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://certificateservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://certificateservice.com/">

<xs:element name="NonexistentCertificateException" type="tns:NonexistentCertificateException"/>

<xs:element name="NonexistentExamTypeException" type="tns:NonexistentExamTypeException"/>

<xs:element name="getAllCertificates" type="tns:getAllCertificates"/>

<xs:element name="getAllCertificatesResponse" type="tns:getAllCertificatesResponse"/>

<xs:element name="getAllExamTypes" type="tns:getAllExamTypes"/>

<xs:element name="getAllExamTypesResponse" type="tns:getAllExamTypesResponse"/>

<xs:element name="getAllUpcomingExamsForCertificate" type="tns:getAllUpcomingExamsForCertificate"/>

<xs:element name="getAllUpcomingExamsForCertificateResponse" type="tns:getAllUpcomingExamsForCertificateResponse"/>

<xs:element name="getCertificate" type="tns:getCertificate"/>

<xs:element name="getCertificateResponse" type="tns:getCertificateResponse"/>

<xs:element name="getExamType" type="tns:getExamType"/>

<xs:element name="getExamTypeForCertificate" type="tns:getExamTypeForCertificate"/>

<xs:element name="getExamTypeForCertificateResponse" type="tns:getExamTypeForCertificateResponse"/>

<xs:element name="getExamTypeResponse" type="tns:getExamTypeResponse"/>

<xs:element name="getExamsForCertificate" type="tns:getExamsForCertificate"/>

<xs:element name="getExamsForCertificateResponse" type="tns:getExamsForCertificateResponse"/>

<xs:complexType name="getExamType">
<xs:sequence>
<xs:element name="examTypeCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExamTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:examType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="examType">
<xs:sequence>
<xs:element name="certificateCode" type="xs:string" minOccurs="0"/>
<xs:element name="examTitle" type="xs:string" minOccurs="0"/>
<xs:element name="examTypeCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentExamTypeException">
<xs:sequence>
<xs:element name="examTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExamTypeForCertificate">
<xs:sequence>
<xs:element name="certificateCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExamTypeForCertificateResponse">
<xs:sequence>
<xs:element name="return" type="tns:examType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllUpcomingExamsForCertificate">
<xs:sequence>
<xs:element name="certificateCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllUpcomingExamsForCertificateResponse">
<xs:sequence>
<xs:element name="return" type="tns:exam" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exam">
<xs:sequence>
<xs:element name="examCode" type="xs:string" minOccurs="0"/>
<xs:element name="examDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="examTypeCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExamsForCertificate">
<xs:sequence>
<xs:element name="certificateCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExamsForCertificateResponse">
<xs:sequence>
<xs:element name="return" type="tns:exam" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllExamTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllExamTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:examType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCertificate">
<xs:sequence>
<xs:element name="certificateCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCertificateResponse">
<xs:sequence>
<xs:element name="return" type="tns:certificate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="certificate">
<xs:sequence>
<xs:element name="certificateCode" type="xs:string" minOccurs="0"/>
<xs:element name="certificateDescription" type="xs:string" minOccurs="0"/>
<xs:element name="certificateTitle" type="xs:string" minOccurs="0"/>
<xs:element name="companyCode" type="xs:string" minOccurs="0"/>
<xs:element name="daysValid" type="xs:int"/>
<xs:element name="toolCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentCertificateException">
<xs:sequence>
<xs:element name="certificatCode" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCertificates">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCertificatesResponse">
<xs:sequence>
<xs:element name="return" type="tns:certificate" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>